
html {
    background-color: #222;
    color: #ddd;
    font-family: Verdana, sans-serif;
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

input, textarea, button {
    background-color: #444;
    color: inherit;
    border: 1px solid #000;
    padding: 4px;
    font-size: inherit;
}
input[type=number] {
    width: 60px;
}
input[type=checkbox] {
    opacity: 80%;
}
button {
    padding: 4px 12px;
}
button:hover:not([disabled]) {
    cursor: pointer;
    background-color: #555;
}

hr {
    width: 100%;
    border-color: #555;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 4px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

cg-board {
    background-color: #8c9fc5;
}
.variation cg-board {
    background-color: #a5b1c9;
}

.cg-wrap coords {
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}
.cg-wrap coords.files {
    left: 0;
    bottom: 0;
    align-items: end;
    text-align: right;
    text-transform: none;
}
.cg-wrap coords.files coord {
    flex-basis: 0;
    padding-right: 3px;
    padding-bottom: 1px;
}
.cg-wrap coords.ranks {
    left: 0;
    top: 0;
}
.cg-wrap coords.ranks coord {
    padding-top: 2px;
    padding-left: 3px;
    transform: none;
}

.last-move.last-move {
    background-color: currentColor;
    opacity: 40%;
}

.annotation {
    transform: translate(73px, 2px) scale(0.25);
}
.annotation, .annotation > path {
    filter: drop-shadow(3px 3px 3px #0006);
}
